*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,blue,black);
}
#box{
    position: absolute;
    height: 7vw;
    width: 7vw;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}